{% load static %}
<!DOCTYPE html>
<html> 

<head>
  <meta charset="utf-8">
  <title>CV-Sorter</title>
  
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Ubuntu&display=swap" rel="stylesheet">

  <!--BootStrap--> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">

  <!--style.css-->
  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <!--FontAwesome(Icons)-->
  <script src="https://kit.fontawesome.com/ea8afac75d.js" crossorigin="anonymous"></script>
  
  <!--Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  
</head>

<body>

  <section class="coloured-section" id="title">
<div class="container-fluid">


    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">CV-Sorter</a>
      <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                  <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="#cta">Download</a>
            </li>
      </ul>
</nav>


    <!-- Title -->

    <div class="row">
      <div class="col-lg-6">
        <h1 class="big-heading">Sort Your Company's CV and get the best you deserve.</h1>
        <!-- <button type="button" class="btn btn-dark btn-large download-button"></i> Sign Up</button> -->
        <button type="button" class="btn btn-outline-light btn-large download-button"> Sign Up</button>
        
      </div>
      
   
    <div class="col-lg-6">
		<img class="title-image" src="{% static 'iphone6.png' %}" alt="iphone-mockup">
    </div>
  </div>
</div>
  </section>


  <!-- Features -->
<section class="white-section" id="features">
  <div class="feature-padding">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="feature-icon fa-sharp fa-solid fa-truck-fast"></i>
        <h3 class="feature-title">Fast</h3>
        <p class="feature">Less Sorting Time and Fast response.</p>
  </div>
  
  <div class="feature-box col-lg-4">
    <i class="feature-icon fa-solid fa-cloud"></i>
    <h3 class="feature-title">Cloud Storage</h3>
    <p class="feature">Never Loose Your Work</p>
  </div>

   <div class="feature-box col-lg-4">
    <i class="feature-icon fa-sharp fa-solid fa-shield"></i> 
     <h3 class="feature-title">Protection</h3>
     <p class="feature">Keep your data private and safe</p>
   </div>
 </div>
</div>

</section>

<!-- Uploading -->
<section class="Uploading">
  <div>
	  <img class="img-bg" src="{% static 'border.png'%}" alt="">
  </div>
  <div class="Choose">
    <h1>Select the files for the Sorting</h1>
  </div>
  {% block content %}
  <div class="file-upload">
	  <form method="post" enctype="multipart/form-data">
		  {% csrf_token %}
	  
  </div>
    <input type="file"  name="document" value="formOne" />
  <button type="submit">Upload file</button>
  </form>
  {% endblock %}

  <div class="Choose2">
    <h1>Type the filters you want to apply</h1>
  </div>
  <div>
	  <img class="img-bg" src="{% static 'border2.png'%}" alt="">
	  <div class="filters">
	  	
	  <form method="post">
		  {{form}}
		  {% csrf_token %}
		  <input type="submit" name="filter"  value="Submit">
	  	
	  </form>
	  </div>
  </div>

</section>


 


  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">Subsciptions</h2>
    <p>Simple and affordable price plans for your Company.</p>

  <div class="row">
    <div class="pricing-column col-lg-4 col-md-4">
    <div class="card" >
      <div class="card-header">
        <h3>Simple</h3>
      </div>
      <div class="card-body">
        <h2 class="price-text">Free</h2>
        <p>5 Files Per Day</p>
        <p>10 Sortings Per Day</p>
        <p>Limited Website Usage</p>
        <div class="d-grid gap-2">
        <button class="btn btn-lg btn-outline-dark" type="button">Sign Up</button>
      </div>   
      </div>
    </div>
  </div>

  <div class="pricing-column col-lg-4 col-md-4">  
  <div class="card" >
      <div class="card-header">
        <h3>Avg</h3>
      </div>
      <div class="card-body">
        <h2 class="price-text">$49 / mo</h2>
        <p>Unlimited Files</p>
        <p>Unlimited Sortings</p>
        <p>Unlimited Website Usage</p>
        <div class="d-grid gap-2">
        <button class="btn btn-lg btn-dark" type="button">Sign Up</button>
      </div>
      </div>
    </div>
  </div>
  
   <div class="pricing-column col-lg-4">
    <div class="card" >
      <div class="card-header">
        <h3>Pro</h3>
      </div>
      <div class="card-body">
        <h2 class="price-text">$99 / mo</h2>
        <p>Pirority Listing</p>
        <p>Unlimited Files</p>
        <p>Unlimited Sortings</p>
        <p>Unlimited Website Usage</p>
        <div class="d-grid gap-2">
        <button class="btn btn-lg btn-dark" type="button">Sign Up</button>
      </div>
      </div>
    </div>
  </div>
  </div> 
   
    
    


    


  </section>


  <!-- Call to Action -->

  <section class="coloured-section" id="cta">
    <h2 class="big-heading">Find the best employee for Your Company Today.</h2>
    <button type="button" class="btn btn-dark btn-large download-button"> Sign Up</button>
    <!-- <button type="button" class="btn btn-light btn-large download-button"><i class="fa-brands fa-google-play"></i> Download</button> -->
  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
      <i class="social-icon fa-brands fa-twitter"></i>
      <i class="social-icon fa-brands fa-facebook-f"></i>
      <i class="social-icon fa-brands fa-instagram"></i>
      <i class="social-icon fa-solid fa-envelope"></i>
    <p>© Copyright CV-Sorter</p>

  </footer>


</body>

</html>
 
